@import '~@/assets/styles/scss/base';
@import "//at.alicdn.com/t/font_2047418_blaehf6jypt.css";

html,body{
  -webkit-overflow-scrolling: touch;
  font-family: -apple-system,Helvetica,Roboto,Arial,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Microsoft Jhenghei,sans-serif !important;
}

::-webkit-scrollbar {
  z-index: 11;
  width: 5px;
  height: 7px;
  &-thumb {
    width: 2px;
    background: rgba(0,0,0, .1);
    border-radius: 50px;
  }
}

//page
.page-container {
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #eff4f8;
  overflow-x: auto;

  .page-header {
    @include flex_layout(row, flex-start, center);
    height: 50px;
    width: 100%;
  }
  .page-content {
    height: 100%;
    width: 100%;

    .data-box {
      padding: 15px 15px;
      background-color: #FFFFFF;
      border-radius: 5px;

      .operation-wrapper {
        height: 40px;
        .left-box {
          @include flex_layout(row, null, flex-start);
        }
        .right-box {
          @include flex_layout(row, flex-end, flex-start);
        }

        .tool-wrapper {
          width: 100%;
        }
        .filter-block {
          .filter-item {
            @include flex_layout(row, flex-start, center);
            margin-right: 10px;
            width: 300px;
            .filter-label {
              margin-right: 10px;
              font-size: 14px;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

//flex-box
.flex-box {
  @include flex_layout(row, null, null);
  width: 100%;
  .left-box {
    @include flex_set(0, 1);
    height: 100%;
    max-height: 100%;
  }

  .right-box {
    @include flex_set(1, 0);
    height: 100%;
    overflow-x: hidden;
  }
}
//table
.table-wrapper {
  /deep/ .ivu-form-item {
    margin: 0;
  }
}

.operate-block {
  @include flex_layout(row, flex-start, center);
  flex-wrap: nowrap;
}
.table-btn {
  margin-right: 10px;
}

//btn
.normal-width-btn {
  width: 108px;
  margin-right: 10px;
  &:last-child {
    margin: 0;
  }
}

.short-width-btn {
  width: 68px;
  margin-right: 10px;
  &:last-child {
    margin: 0;
  }
}

.tree-btn {
  margin-right: 10px;
  &:last-child {
    margin: 0;
  }
}

//dialog
.dialog-footer {
  .dialog-cancel-btn {
    width: 40%;
  }
  .dialog-confirm-btn {
    width: 40%;
  }
}

.form-dialog {
  padding: 0;
  border-radius: 5px;
  .el-dialog__header {
    margin: 0 10px;
    text-align: left;
    padding: 15px 10px 10px;
    border-bottom: 1px solid #bfbfbf;
  }
  .el-dialog__body {
    padding: 15px 10px 10px;
  }

  .el-dialog__footer {
    padding: 15px 15px;
    text-align: right;
    border-radius: 0 0 5px 5px;
    background-color: #f5f5f5;
  }
}

//form
.block-form-item {
  display: block !important;
  width: 100%;
}

.inline-form-item {
  display: inline-block !important;
  margin-right: 0 !important;
  width: 50%;
}

.amap-sug-result {
  z-index: 999999;
}

.ivu-select-dropdown-transfer {
  z-index: 999999 !important;
}

//info
.inline-info-item {
  display: inline-block !important;
  margin-right: 0 !important;
  white-space: nowrap;
  width: 50%;
}

.info-label {
  width: 90px;
  padding: 10px 12px 10px 0;
  text-align: right;
  display: inline-block;
  font-size: $font-size-mormal;
  color: #333333;
}

.info-content {
  display: inline-block;
  font-size: $font-size-mormal;
  color: #333333;
}
