@charset "UTF-8";

@mixin font-hidden-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flex_layout($direction : row, $justifyContent : center, $alignItems : center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin flex_set($flex-grow : 0, $flex-shrink : 1, $flex-basis: null) {
  flex: $flex-grow $flex-shrink $flex-basis;
}

/**
  设置定位
 */
@mixin absolute_pos($position : null,$top : null,$right : null,$bottom : null,$left : null) {
  @if $position {
    position: $position;
  }
  @if $top != null {
    top: $top;
  }
  @if $right != null {
    right: $right;
  }
  @if $bottom != null {
    bottom: $bottom;
  }
  @if $left != null {
    left: $left;
  }
}
