@charset "UTF-8";

$normalGreen: #3bdc84 !default;
$lightGreen: #d1fae3 !default;
$darkGreen: #056c33 !default;


$color_fff: #ffffff !default;
$color_000: #000000 !default;

$font-size-mormal: 13px;
$font-size-small: 10px;

