/* 定制化主题变量 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--font-size-base: 13px;
$--color-primary: #498FE1;

/* Element Chalk Variables */
@import "~element-ui/packages/theme-chalk/src/common/var";
